ul{
    color: rgb(181, 33, 33);
    width: 100%; 
    font-size: larger;
    background-color: rgb(112, 216, 124);
   display: flex;
   justify-content: center;
   align-items: center;
  
}
a{
    text-decoration: none; 
    margin: 30px;
    border-bottom: 3px solid red;  
}
a:hover{
    background-color: rgba(249, 244, 255, 0.5);
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    border: none;
}
img{
    
    width: 200px;
    border-radius: 50%;
    align:left;
    border-radius: 50%;
}

li
{
    font-size: larger;
}