div.static {
  
    background-color: rgb(180, 152, 251);
    position: sticky;
    top: 50px;
    width: 100%;
    color: black;
 
 
 }
 li{
     display: flex;
 }
 div.main{
     background-color:rgb(112, 216, 119);
 
 }