.a{
    height: 300px;
    width: 200px;
    z-index: 1;
    position: relative;
    background-color: rgb(12, 255, 12);
    border-radius: 50%;
    opacity: 0.5;
    left: 90px;
    top: 100px;
    border: 6px dotted rgb(85, 14, 14);



}
.b{
    height: 300px;
    width: 200px;
    z-index: 2;
    position: absolute;
    background-color: rgb(12, 255, 12);
    border-radius: 90%;
    opacity: 0.5;
    left: 30px;
    top: 190px;
    border: 6px dotted rgb(85, 14, 14);


}
.c{
    height: 300px;
    width: 200px;
    z-index: 3;
    position: absolute;
    background-color: rgb(12, 255, 12);

    border-radius: 50%;
    opacity: 0.5;
    left: 100px;
    border: 6px dotted rgb(85, 14, 14);


}
.d{
    height: 300px;
    width: 200px;
    z-index: 4;
    position: absolute;
       background-color: rgb(12, 255, 12);

    border-radius: 50%;
    opacity: 0.5;
    left: 160px;
    top: 190px;
    border: 6px dotted rgb(85, 14, 14);


}
.e{
    height: 150px;
    width: 150px;
    z-index: 4;
    position: absolute;
    background-color: rgb(6, 8, 9);
    border-radius: 50%;
    /* opacity: 0.5; */
    left: 120px;
    top: 270px;
    border: 6px dotted whitesmoke;


}
