*{
    background-color:aqua;
    margin: 0px;
    padding:0px;
    font-family: cursive;
}
#a{
    color: blueviolet;
    font-family: 'Dancing Script', cursive;
    font-family: 'Monomaniac One', sans-serif;
}
.b{
    color: rgb(225, 55, 55);
}
h3{
    background-color: rgb(96, 47, 83);
}
h3.c{
    color: blue;
}
p{
    font-family: 'Monomaniac One', sans-serif;
}
