ul{
    color: rgb(181, 33, 33);
    width: 100%; 
    font-size: larger;
    background-color: rgb(189, 155, 195);
   display: flex;
   justify-content: center;
   align-items: center;
   /* border-bottom: 2px solid black; */
  
}
a{
    text-decoration: none; 
    margin: 30px;
    color: black;
    /* border-bottom: 3px solid rgb(156, 15, 15);   */
}
a:hover{
    background-color: rgba(171, 39, 6, 0.5);
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    border-right: 4px solid rgb(225, 216, 225);
}
img{
    
    width: 200px;
    border-radius: 50%;
    align:left;
    border-radius: 50%;
   margin: 2px 500px 0px 0px;
}

li
{
    font-size: larger;
}