.one{
    border: 5px solid rgb(107, 8, 8);
    height: 300PX;
    width: 20%;
    z-index: 1;
    position: relative;
    top: 50px;
    left: 25px;
    background-color: aqua;
    

}
.two{
    border: 5px solid rgb(95, 95, 206);
    height: 300PX;
    width: 20%;
    z-index: 3;
    position:absolute;
    top: 80px;
   background-color: rgb(207, 95, 114);
    /* left: 40px; */

}